__pycache__/
*.pyc
*.png
*.pdf
*.out
*.csv
demo_output/
test_opt_output/
test_pp_output/

# Allow results and plots for Hopelands example
!examples/Hopelands/**/*.png
!examples/Hopelands/**/*.out
# Explicitly keep CSVs ignored in Hopelands
examples/Hopelands/**/*.csv
venv/
*.egg-info/
