__pycache__/
*.pyc
*.png
*.pdf
*.out
*.csv
demo_output/
test_opt_output/
test_pp_output/

# Allow results and plots for Hopelands example
!examples/Hopelands/**/*.png
!examples/Hopelands/**/*.out
# Explicitly keep CSVs ignored in Hopelands
examples/Hopelands/**/*.csv
venv/
*.egg-info/
dist/

# Allow results and plots for Gap experiment
!examples/gap_experiment/**/*.png
!examples/gap_experiment/**/*.out
# Keep CSVs ignored in Gap experiment
examples/gap_experiment/**/*.csv

# Allow results and plots for forward prediction interval example
!examples/forward_prediction_intervals/**/*.png
!examples/forward_prediction_intervals/**/*.out
!examples/forward_prediction_intervals/**/*.json
# Keep CSVs ignored
examples/forward_prediction_intervals/**/*.csv

# Allow specific quickstart inputs
!examples/quickstart/data/*.csv

# Allow results and plots for Switzerland validation example
!examples/validation/Switzerland/*.png

# Allow results and plots for optimizer comparison example
!examples/optimizer_comparison/**/*.png
!examples/optimizer_comparison/**/*.out
examples/optimizer_comparison/**/*.csv
